[flake8]

; Ignore files that developers won't change
extend-exclude =
    ./budget-lens-venv/,
    ./manage.py,
    ./utility,

; Ignore checks

; Adjust checks
max-line-length = 200
max-complexity = 10
max-doc-length = 1000

; Other tools that may help
show-source = True
statistics = True